{{ if .Site.Params.projects.enable }}
{{ "<!-- Project Section Start -->" | safeHTML }}
<section class="portfolio section" id="portfolio">
    <div class="container">
        <!--SubTitle above projects-->
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Params.projects.topTitle }}<h4>{{ . }}</h4>{{ end }}
                    {{ with .Site.Params.projects.title }}<h2>{{ . }}</h2><span class="border"></span>{{ end }}
                    {{ with .Site.Params.projects.subtitle }}<p>{{ . }}</p>{{ end }}
                </div>
            </div>
        </div>
        <!--Filtering Bar to filter for project in specific years-->
        <div class="row">
            <div class="col-lg-12">
                <div class="portfolio-filter">
                    <!-- Filter to show all project -->
                    <button class="projectfiltr-control" type="button" data-filter="all">All</button>
                    <!-- Filters for projects by launch year -->
                    {{$projectRootDir := .Site.GetPage "/projects"}}
                    {{range sort $projectRootDir.Sections "Title"}}
                    <button class="projectfiltr-control" type="button" data-filter="{{ .Title }}">{{ .Title }}</button>
                    {{ end }}
                    <!-- Filter for current or future projects-->
                    <button class="projectfiltr-control active" type="button" data-filter="ongoing">Ongoing</button>
                </div>
            </div>
        </div>
        <!--Container containing actual projects-->
        <div class="row projectfiltr-container">
            {{ range where .Site.RegularPages "Type" "projects"}}
                <!-- Check if project is ongoing-->
                {{ $ongoing := (cond .Params.ongoing ", ongoing" "") }}
                {{ $data_class :=  $ongoing | printf "%s%s" .CurrentSection.Title}}
                <div class="col-12 col-md-4 filtr-item" data-category="{{$data_class}}">
                    <div class="post-item text-center">
                        <!--Project Icon-->
                        <div class="post-thumb">
                            <img class="img-fluid shadow rounded" src="{{ .Params.image | absURL }}" alt="portfolio-image">
                        </div>
                        <!-- Project Title  -->
                        <div class="post-title">
                            <a href={{.Permalink}}><h3>{{.Params.title}}</h3></a>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
    <!-- end row -->
</section>
{{ "<!-- End section -->" | safeHTML }}
{{ end }}