{{ if .Site.Params.aboutSm.enable }}
{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <!-- Summary of what we do -->
            <div class="col-12 col-md-5">
                {{ with .Site.Data.about.summary }}
                    <h2>{{ . }}</h2>
                {{ end }}
            </div>
            <!-- Description of what we do  -->
            <div class="col-12 col-md-7">
                {{ with .Site.Data.about.description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
{{ end }}